USE [FactoryStorage]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationTypes]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolOperations]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolOperations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToolId] [int] NOT NULL,
	[IssuedByUserId] [int] NULL,
	[WorkerId] [int] NULL,
	[OperationDate] [datetime] NOT NULL,
	[OperationTypeId] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK__ToolOper__3214EC07052B1DBC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tools]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tools](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ToolTypeId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolStatuses]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolTypes]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 12.05.2026 0:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Name], [Type]) VALUES (1, N'Основной склад', N'Склад')
INSERT [dbo].[Locations] ([Id], [Name], [Type]) VALUES (2, N'Цех №1', N'Цех')
INSERT [dbo].[Locations] ([Id], [Name], [Type]) VALUES (3, N'Цех №2', N'Цех')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationTypes] ON 

INSERT [dbo].[OperationTypes] ([Id], [Name]) VALUES (5, N'В ремонте')
INSERT [dbo].[OperationTypes] ([Id], [Name]) VALUES (3, N'Возврат')
INSERT [dbo].[OperationTypes] ([Id], [Name]) VALUES (2, N'Выдача')
SET IDENTITY_INSERT [dbo].[OperationTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Кладовщик')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ToolOperations] ON 

INSERT [dbo].[ToolOperations] ([Id], [ToolId], [IssuedByUserId], [WorkerId], [OperationDate], [OperationTypeId], [Comment], [Quantity]) VALUES (1, 1, 2, NULL, CAST(N'2026-01-05T08:00:00.000' AS DateTime), 1, N'Поступление наборов отверток', 1)
INSERT [dbo].[ToolOperations] ([Id], [ToolId], [IssuedByUserId], [WorkerId], [OperationDate], [OperationTypeId], [Comment], [Quantity]) VALUES (2, 2, 2, NULL, CAST(N'2026-01-05T08:00:00.000' AS DateTime), 1, N'Поступление наборов ключей', 1)
INSERT [dbo].[ToolOperations] ([Id], [ToolId], [IssuedByUserId], [WorkerId], [OperationDate], [OperationTypeId], [Comment], [Quantity]) VALUES (3, 3, 2, NULL, CAST(N'2026-01-05T08:00:00.000' AS DateTime), 1, N'Поступление наборов головок', 1)
SET IDENTITY_INSERT [dbo].[ToolOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[Tools] ON 

INSERT [dbo].[Tools] ([Id], [Article], [Name], [ToolTypeId], [StatusId], [LocationId], [Quantity]) VALUES (1, N'SET-001', N'Набор отверток (10 предметов)', 1, 1, 1, 2)
INSERT [dbo].[Tools] ([Id], [Article], [Name], [ToolTypeId], [StatusId], [LocationId], [Quantity]) VALUES (2, N'SET-002', N'Набор гаечных ключей (6-32мм)', 1, 2, 2, 1)
INSERT [dbo].[Tools] ([Id], [Article], [Name], [ToolTypeId], [StatusId], [LocationId], [Quantity]) VALUES (3, N'SET-003', N'Набор головок 1/2" (30 предметов)', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Tools] OFF
GO
SET IDENTITY_INSERT [dbo].[ToolStatuses] ON 

INSERT [dbo].[ToolStatuses] ([Id], [Name]) VALUES (1, N'В наличии')
INSERT [dbo].[ToolStatuses] ([Id], [Name]) VALUES (2, N'Выдан')
INSERT [dbo].[ToolStatuses] ([Id], [Name]) VALUES (4, N'На ремонте')
SET IDENTITY_INSERT [dbo].[ToolStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ToolTypes] ON 

INSERT [dbo].[ToolTypes] ([Id], [Name]) VALUES (4, N'Производственное оборудование')
INSERT [dbo].[ToolTypes] ([Id], [Name]) VALUES (1, N'Ручной инструмент')
INSERT [dbo].[ToolTypes] ([Id], [Name]) VALUES (3, N'Станок')
SET IDENTITY_INSERT [dbo].[ToolTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Login], [PasswordHash], [RoleId]) VALUES (1, N'Смирнов Дмитрий Алексеевич', N'admin', N'admin_hash_12345', 1)
INSERT [dbo].[Users] ([Id], [FullName], [Login], [PasswordHash], [RoleId]) VALUES (2, N'Кузнецова Анна Павловна', N'storekeeper1', N'kuz_hash_67890', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [FullName], [Department], [Position]) VALUES (1, N'Иванов Петр Сергеевич', N'Цех №1', N'Токарь')
INSERT [dbo].[Workers] ([Id], [FullName], [Department], [Position]) VALUES (2, N'Петров Сергей Иванович', N'Цех №1', N'Фрезеровщик')
INSERT [dbo].[Workers] ([Id], [FullName], [Department], [Position]) VALUES (3, N'Сидоров Алексей Петрович', N'Цех №1', N'Слесарь')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Operatio__737584F6E272776C]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[OperationTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F68222AC15]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tools__4943444AD82F9596]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[Tools] ADD UNIQUE NONCLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ToolStat__737584F6EB93732C]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[ToolStatuses] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ToolType__737584F662DAC11C]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[ToolTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BDE18352F]    Script Date: 12.05.2026 0:36:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ToolOperations] ADD  CONSTRAINT [DF__ToolOpera__Opera__5AEE82B9]  DEFAULT (getdate()) FOR [OperationDate]
GO
ALTER TABLE [dbo].[ToolOperations] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Tools] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ToolOperations]  WITH CHECK ADD  CONSTRAINT [FK_ToolOperations_OperationTypes] FOREIGN KEY([OperationTypeId])
REFERENCES [dbo].[OperationTypes] ([Id])
GO
ALTER TABLE [dbo].[ToolOperations] CHECK CONSTRAINT [FK_ToolOperations_OperationTypes]
GO
ALTER TABLE [dbo].[ToolOperations]  WITH CHECK ADD  CONSTRAINT [FK_ToolOperations_Tools] FOREIGN KEY([ToolId])
REFERENCES [dbo].[Tools] ([Id])
GO
ALTER TABLE [dbo].[ToolOperations] CHECK CONSTRAINT [FK_ToolOperations_Tools]
GO
ALTER TABLE [dbo].[ToolOperations]  WITH CHECK ADD  CONSTRAINT [FK_ToolOperations_Users] FOREIGN KEY([IssuedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ToolOperations] CHECK CONSTRAINT [FK_ToolOperations_Users]
GO
ALTER TABLE [dbo].[ToolOperations]  WITH CHECK ADD  CONSTRAINT [FK_ToolOperations_Workers] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[ToolOperations] CHECK CONSTRAINT [FK_ToolOperations_Workers]
GO
ALTER TABLE [dbo].[Tools]  WITH CHECK ADD  CONSTRAINT [FK_Tools_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Tools] CHECK CONSTRAINT [FK_Tools_Locations]
GO
ALTER TABLE [dbo].[Tools]  WITH CHECK ADD  CONSTRAINT [FK_Tools_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ToolStatuses] ([Id])
GO
ALTER TABLE [dbo].[Tools] CHECK CONSTRAINT [FK_Tools_Statuses]
GO
ALTER TABLE [dbo].[Tools]  WITH CHECK ADD  CONSTRAINT [FK_Tools_ToolTypes] FOREIGN KEY([ToolTypeId])
REFERENCES [dbo].[ToolTypes] ([Id])
GO
ALTER TABLE [dbo].[Tools] CHECK CONSTRAINT [FK_Tools_ToolTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
